<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.js"
      integrity="sha512-NLtnLBS9Q2w7GKK9rKxdtgL7rA7CAS85uC/0xd9im4J/yOL4F9ZVlv634NAM7run8hz3wI2GabaA6vv8vJtHiQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="/js/OrbitControls.js"></script>
      <script src="/js/objLoader.js"></script>
      <script src="/js/MTLLoader.js"></script>
      <script defer src="/js/3dmodel.js"></script>
</head>

<body class="container">

  <header>
    <%- include('partials/header') %>
  </header>

  <main>
    <p> Use the scroll wheel to zoom in and out of the model</p>
    <p> Hold the left mouse button and move the cursor to rotate the camera</p>
    <p> Hold the right mouse button and move the cursor to pan the camera</p>
    
  </main>


  <%- include('partials/footer') %>