  <%- include('partials/head') %>

  <script type="text/javascript" src="../js/three.min-129.js"></script>
    <script type="text/javascript" src="../js/o3dv.min-0.7.17.js"></script>
    <script type='text/javascript'>
      OV.Init3DViewerElements ();
  </script>
</head>

<body class="container">


    <%- include('partials/header') %>


  <main>
    <p> Use the scroll wheel to zoom in and out of the model</p>  
    <p> Hold the left mouse button and move the cursor to rotate the camera</p>
    <p> Hold the right mouse button and move the cursor to pan the camera</p>
    
    <div class="online_3d_viewer"
    style="width: 100%; height: 60vh;"
    model="/models/<%= model[0].filename %>"
    
    defaultcolor="200,0,0"
    backgroundcolor="0xf4efff">
</div>
  </main>


  <%- include('partials/footer') %>