  <%- include('partials/head') %>
  <title></title>
</head>

<body class="container">

  
    <%- include('partials/header') %>

  <main>
<h1>Account Management for <%= user.username%></h1>
  </main>


  <%- include('partials/footer') %>