<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body class="container">

  <header>
    <%- include('partials/header') %>
  </header>

  <main>
    <p>Please complete the form below to register for the Portal3d service.</p>
    <form id="pwd-form">
      <input type="password" placeholder="password" id="password">
      </br><input type="submit">Submit</button>
    </form>

    <h2 id="success"></h2>

    <script>
      const form = document.getElementById('pwd-form')
      form.addEventListener('submit', changePwd)

      async function changePwd(event) {
        event.preventDefault()

        const password = document.getElementById('password').value
 
        const result = await fetch('/change-password', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            newpassword: password,
            token: localStorage.getItem('token')
          })
        }).then((res) => res.json())

        if (result.status === 'ok') {
          //everything went ok 
          document.getElementById("success").innerHTML = "Congratulations. You Have now registered.";
        } else {
          document.getElementById("success").innerHTML = "REGISTRATION FAILED: " + result.error;
         
        }
        console.log(result)
      }
    </script>

  </main>


  <%- include('partials/footer') %>