<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>

<body class="container">

<header>
<%- include('partials/header') %>
</header>

<main>
  <h1>Hi <%= user.name.first %></h1>
 <p>this is the dashboard page</p>
</main>


  <%- include('partials/footer') %>
