<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body class="container">

  <header>
    <%- include('partials/header') %>
  </header>

  <main>
    <h1>Hi <%= user.first%></h1>
    <p>Welcome to your account page</p>
    <a href="/change-password"> Change password </a>
    <br>
    <% if (user.role == "admin") { %>
      <a href="/admindashboard">admin dashboard </a>
      <% }%>


  </main>


  <%- include('partials/footer') %>