<%- include('partials/head') %>
  <title>Home page</title>
  </head>

  <body class="container">

    <header>
      <%- include('partials/header') %>
    </header>

    <main>
      <div>
       <h1>Welcome</h1> 
       <% if(typeof user === 'undefined'){ %> <p>not logged in</p><% } %>
       <% if(typeof user !== 'undefined'){ %><p>  logged in</p><% } %>
        <p> welcome to templating with ejs</p>
        <p><a href="/login">Click here to login</a></p>
        <p><a href="/register">Click here to go to registration</a></p>
        <p><a href="/Application">Click here to create a new application</a></p>
        <p><a href="/viewapplications">Click here to view all applications</a></p>
        <p><a href="/3dmodel">Click here to view a 3d model</a></p>

      </div>
    </main>

    <footer>
      <%- include('partials/footer') %>
    </footer>

  </body>

  </html>