<%- include('partials/head') %>
  <title>Home page</title>
<script src="/js/index.js"></script>
  </head>

  <body class="container">


    <%- include('partials/header') %>


      <main>
        <div>
          <div class="titleDash">
            <h1>Yourtown Planning Portal</h1>
           

                    <h3> To create a new application an account is required. Register your account today using the link
                      below.</h3>
          </div>
          <div class="p-5"> </div>

          <div class="scrollingArea">
            <div class="card-group">
              <div class="card menuArea" onclick=location.replace("/viewapplications") onmouseover="onHoverSearch();" onmouseout="offHoverSearch();">
                <div class="card-body">
                  <h5 class="card-title text-center">Search for a planning application</h5>
                </div>
                <div id="imageContainer">
                  <div id="search">
                  <img class="card-img-bottom image_on" src="/images/search_selected.png" alt="Search image icon" id="imageBoxSearch" >
                </div>
              </div>
              </div>

              <div class="card menuArea" onclick=location.replace("/Applications") onmouseover="onHoverApply();" onmouseout="offHoverApply();">
                <div class="card-body">
                  <h5 class="card-title text-center">Apply for Planning Permission</h5>
                </div>
                <div id="imageContainer">
                  <div id="apply">
                  <img class="card-img-bottom" src="/images/apply_selected.png" alt="Search image icon" id="imageBoxApply" >
                </div>
              </div>
              </div>

              <div class="card menuArea" onclick=location.replace("/register") onmouseover="onHoverAccount();" onmouseout="offHoverAccount();">
                <div class="card-body">
                  <h5 class="card-title text-center">Register for an Account</h5>
                </div>
                <div id="imageContainer">
                  <div id="account">
                  <img class="card-img-bottom" src="/images/account_selected.png" alt="Search image icon" id="imageBoxAccount" >
                </div>
              </div>
              </div>
            </div>

          </div>

        </div>
      </main>

      <%- include('partials/footer') %>