<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>

<body class="container">

<header>
<%- include('partials/header') %>
</header>

<main>
  <div>
        <h1> This is great</h1>
        <p> welcome to templating with ejs</p>
        <p><a href="form.html">Click here to go to the form</a></p>
        <p><a href="views/registration">Click here to go to registration</a></p>
      
   
    
  </div>
</main>

<footer>
  <%- include('partials/footer') %>
</footer>

</body>
</html>