<%- include('partials/head') %>
  <title>Home page</title>
  </head>

  <body class="container">

    <header>
      <%- include('partials/header') %>
    </header>

    <main>
      <div>
        <h1> This is great</h1>
        <p> welcome to templating with ejs</p>
        <p><a href="form.html">Click here to go to the form</a></p>
        <p><a href="/registration">Click here to go to registration</a></p>
        <p><a href="/application">Click here to go to applications</a></p>
        <p><a href="/login">Click here to login</a></p>

      </div>
      <% console.log(user)%>
      <% console.log(password)%>
      <% console.log(result.password)%>
    </main>

    <footer>
      <%- include('partials/footer') %>
    </footer>

  </body>

  </html>