<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body class="container">

  <header>
    <%- include('partials/header') %>
  </header>

  <main>
    <p>Please enter your details to login.</p>
    <form action="/processlogin" method= "POST">
      
      </br><label>Login</label>
      <input type="text" placeholder="username" id="username">
      <input type="password" placeholder="password" id="password">
      </br><input type="submit">Submit</button>
    </form>


  </main>


  <%- include('partials/footer') %>