<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
  <script defer src="/js/login.js"></script>
</head>

<body class="container">

  <header>
    <%- include('partials/header') %>
  </header>

  <main>
    <p>Please enter your details to login.</p>
    <form id="login-form">
      
      </br><label>Login</label>
      <input type="text" placeholder="username" id="username">
      <input type="password" placeholder="password" id="password">
      </br><input type="submit">Submit</button>
    </form>

    <p id="error"></p>
    

  </main>


  <%- include('partials/footer') %>