<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body class="container">

  <header>
    <%- include('partials/header') %>
  </header>

  <main>
    <p>Please complete the form below to register for the Portal3d service.</p>
    <form id="reg-form">
      <label>Name</label>
      <input type="text" placeholder="first name" id="first" required>
      <input type="text" placeholder="last name" id="last" required>
      </br><label>Login</label>
      <input type="email" placeholder="me@example.com" id="email" required>
      <input type="text" placeholder="username" id="username" onkeyup="checkUser()" required>
      <p id="uniqUser"></p>
      <input type="password" placeholder="password" id="password" required>
      <p id="passwordLength" onkeyup="passwordLength()"></p>
      <input type="password" placeholder="confirm password" id="confirmPassword" required>
      </br><label>Address</label>
      <input type="text" placeholder="number" id="number" required>
      <input type="text" placeholder="street 1" id="street1" required>
      <input type="text" placeholder="street 2" id="street2">
      <input type="text" placeholder="town" id="town" required>
      <input type="text" placeholder="county" id="county" required>
      <input type="text" placeholder="postcode" id="postcode" required>
      </br><input type="submit">Submit</button>
    </form>

    <h2 id="success"></h2>

    <script>
      const form = document.getElementById('reg-form')
      form.addEventListener('submit', registerUser)
      

      async function checkUser(){
        const username = document.getElementById('username').value
        const result = await fetch('/checkUser', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            username
          })
        }).then((res) => res.json())

        if (result.status !== 'ok') {
          //everything went ok 
          document.getElementById("uniqUser").innerHTML = "This username is not available.";
        }
        if (result.status === 'ok') {
          //everything went ok 
          document.getElementById("uniqUser").innerHTML = "";
        }
      }

      async function passwordLength() {
        const password = document.getElementById('password').value
        console.log(password.length);
        if (password.length < 8) { document.getElementById("passwordLength").innerHTML = "Passwords must be a minimum of 8 characters long.";}
        else{document.getElementById("passwordLength").innerHTML ="";}
      }

      async function registerUser(event) {
        event.preventDefault()

        const first = document.getElementById('first').value
        const last = document.getElementById('last').value
        const email = document.getElementById('email').value
        const username = document.getElementById('username').value
        const password = document.getElementById('password').value
        const number = document.getElementById('number').value
        const street1 = document.getElementById('street1').value
        const street2 = document.getElementById('street2').value
        const town = document.getElementById('town').value
        const county = document.getElementById('county').value
        const postcode = document.getElementById('postcode').value
        const confirmpassword = document.getElementById('confirmPassword').value

        if (password !== confirmpassword) {
          document.getElementById("success").innerHTML = "passwords do not match."; return;
        } else {

        const result = await fetch('/register', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            first, last, email, username, password, number, street1, street2, town, county, postcode
          })
        }).then((res) => res.json())

        if (result.status === 'ok') {
          //everything went ok 
          document.getElementById("success").innerHTML = "Congratulations. You Have now registered.";
        } else {
          document.getElementById("success").innerHTML = "REGISTRATION FAILED: " + result.error;
         
        }
      }
    }
    </script>

  </main>


  <%- include('partials/footer') %>