<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body class="container">

  <header>
    <%- include('partials/header') %>
  </header>

  <main>
    <form id="reg-form">
      <label>Name</label>
      <input type="text" placeholder="title" name="title">
      <input type="text" placeholder="first name" name="first">
      <input type="text" placeholder="last name" name="last">
      </br><label>Login</label>
      <input type="email" placeholder="me@example.com" name="email">
      <input type="text" placeholder="username" name="username">
      <input type="password" placeholder="password" name="password">
      </br><label>Address</label>
      <input type="text" placeholder="number" name="number">
      <input type="text" placeholder="street 1" name="street1">
      <input type="text" placeholder="street 2" name="street2">
      <input type="text" placeholder="town" name="town">
      <input type="text" placeholder="county" name="county">
      <input type="text" placeholder="postcode" name="postcode">
      </br><input type="submit">Submit</button>
    </form>

    <script>
      const form = document.getElementById('reg-form')
      form.addEventListener('submit',registerUser)

      async function registerUser(event){
        event.preventDefault()
        const title = document.getElementById('title').value
        const first = document.getElementById('first').value
        const last = document.getElementById('last').value
        const email = document.getElementById('email').value
        const username = document.getElementById('username').value
        const password = document.getElementById('password').value
        const number = document.getElementById('number').value
        const street1 = document.getElementById('street1').value
        const street2 = document.getElementById('street2').value
        const town = document.getElementById('town').value
        const county = document.getElementById('county').value
        const postcode = document.getElementById('postcode').value

        const result = await fetch ('/register', {
          method: 'POST',
          headers: {'Content-Type':'application/json'
          },
          body: JSON.stringify({title, first, last, email, username, password, number, street1, street2, town, county, postcode
          })
        }).then((res) => res.json())
console.log(result)      
}
    </script>

  </main>


  <%- include('partials/footer') %>