<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
  <script defer src="/js/register.js"></script>
</head>

<body class="container">

  <header>
    <%- include('partials/header') %>
  </header>

  <main>
    <p>Please complete the form below to register for the Portal3d service.</p>
    <form id="reg-form">
      <label>Name</label>
      <input type="text" placeholder="first name" id="first" required>
      <input type="text" placeholder="last name" id="last" required>
      </br><label>Login</label>
      <input type="email" placeholder="me@example.com" id="email" required>
      <input type="text" placeholder="username" id="username" onkeyup="checkUser()" required>
      <p id="uniqUser"></p>
      <input type="password" placeholder="password" id="password" onkeyup="passwordLength()" required>
      <p id="passwordLength"></p>
      <input type="password" placeholder="confirm password" id="confirmPassword" required>
      </br><label>Address</label>
      <input type="text" placeholder="number" id="number" required>
      <input type="text" placeholder="street 1" id="street1" required>
      <input type="text" placeholder="street 2" id="street2">
      <input type="text" placeholder="town" id="town" required>
      <input type="text" placeholder="county" id="county" required>
      <input type="text" placeholder="postcode" id="postcode" required>
      </br><input type="submit">Submit</button>
    </form>

    <h2 id="success"></h2>

  </main>


  <%- include('partials/footer') %>