<%- include('partials/head') %>
</head>

<body class="container">


    <%- include('partials/header') %>


  <main>
    <div class="documentPage" style="position: relative;">
    <button onclick="goBack()" class="btn btn-primary" style="position: absolute; top:0;">Go Back</button>
    <script>
    function goBack() {
      window.history.back();
    }
    </script>

    <object class="documentViewer" data="/uploads/<%= file %>"></object>
  </div>
  </main>


  <%- include('partials/footer') %>