<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
<!--   <script src="/js/viewportal.js"></script> -->
</head>

<body class="container">

  <header>
    <%- include('partials/header') %>
  </header>

  <main>
    <h1>All Planning Applications</h1>

  </main>


  <%- include('partials/footer') %>