
.menuArea {border: 1px solid rgba(86,61,124,.15);

width: 250px;
cursor: pointer;
}
.menuArea:hover { background-color: rgba(93,157,255,100);
color: white;
}

#imageBoxSearch {
  max-width : 100%;
height: auto;
}

#imageBoxApply {
  max-width : 100%;
height: auto;
}

#imageBoxAccount {
  max-width : 100%;
height: auto;
}

#imageConatiner {max-width:300px;}

.header {
  height: 9vh;
}

.titleDash {
  height: 15vh;
}

.title {
  height: 8vh;
}

.scrollingArea{
  height: 77vh;
  overflow: scroll;
}

.scrollingAreaViewPortal{
  height: 71vh;
  overflow: scroll;
}

.scrollingAreaDocuments{
  height: 65vh;
  overflow: scroll;
}

.dashboardMenu{
  height: 15vh;
  overflow: scroll;
}

.scrollingAreaDashboard{
  height: 64vh;
  overflow: scroll;
}

.scrollingAreaLarger{
  height: 70vh;
  overflow: scroll;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
}

.dashboardMenu {
  height: 50px;
  cursor: pointer;
  }

  .addNewDocumentButton{
    height: 15vh;
  }

  .bd-highlight:hover { 
    background-color: rgba(200,254,255,100);
  color: white;
  }

  @media (max-width: 700px) {
    .card-columns.custom-columns {
        column-count: 1;
    }
}
@media (min-width: 700px) {
    .card-columns.custom-columns {
        column-count: 1;
    }
}

@media (min-width: 1000px) {
    .card-columns.custom-columns {
        column-count: 2;
    }
}
@media (min-width: 1400px) {
    .card-columns.custom-columns {
        column-count: 2;
    }
}
#leavePage {
  position:absolute;
  bottom:0;
  right:0;
}

#passwordInfo {
 background-color:rgb(218, 218, 248)
}

#loginContainer{
  height: 80vh;
  margin-top: auto;
margin-bottom: auto;
}

#canvas {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 68vh;
  border: 1px solid black;

  position: static; /* fixed or static */
  top: 100px;
  left: 100px;
}

.icon_holder { background-color: white;}

.icon_holder:hover { background-color: rgba(93,157,255,100);
  color: white;
  }

  .documentViewer {height: 80vh; width: 100%;}

  #passwordLength {color: red;}
  #uniqUser {color: red;}