<!DOCTYPE html>
<html lang="en">
<head>
<%- include('public/partials/head') %>
</head>

<body class="container">

<header>
  <%- include('public/partials/header') %>
</header>

<main>
  <div class="row">
    <div class="col-sm-8">
      <div class="jumbotron">
        <h1> This is great</h1>
        <p> welcome to templating with ejs</p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="well">
        <p><a href="form.html">Click here to go to the form</a></p>
      </div>
    </div>
    
  </div>
</main>

<footer>
  <%- include('public/partials/footer') %>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>